body {
	padding-top:50px;
	font-family: 'raleway', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.section {
    padding-top: 60px;
    margin-top: -60px;
}

.my-header {
	padding: 3em 0 3.5em 0;
	text-align: center; 
    background: #33ccff; 
    color: #fff;
}

.my-footer {
	height:250px;
	background: #19194d;
}

.impressum {
	bottom:0;
	left:0;
	right:0;
	text-align: center; 
    background: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    padding:20px 10px;
}

.jumbotron {
	background: #fff; 
    color: #000;
}

.blog-footer {
	padding:5px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
	bottom:0;
	left:0;
	right:0;
}

.panel-body {
	padding-top: 0;
	text-align: justify;
	font-size: 1.3em;
}

.list-group {
	font-size: 20px;
	font-weight: 500;
}

.navbar {
	font-weight:700;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.affix {
      top:117px;
      width: 262px;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('ttf'),
    	 url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');;
}